name: Test HyPER

on:
  schedule:
    - cron: '0 8 * * 1'
  push:
    branches:
      - main
  pull_request:

jobs:
  HyPER-workflow:
    runs-on: ${{ matrix.os }}

    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-14]
        include:
          - os: ubuntu-latest
            python-version: '3.10'
            env-file: 'environment_linux.yaml'
          - os: macos-14
            python-version: '3.10'
            env-file: 'environment_macos.yaml'

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Set up Conda for Python ${{ matrix.python-version }}
      uses: conda-incubator/setup-miniconda@v3
      with:
        python-version: ${{ matrix.python-version }}
        miniforge-version: latest

    - name: Add conda to system path
      run: |
        # $CONDA is an environment variable pointing to the root of the miniconda directory
        echo $CONDA/bin >> $GITHUB_PATH

    - name: Install dependencies
      continue-on-error: true
      run: |
        conda env update --file ${{ matrix.env-file }} --name base

    - name: Test HyPER training
      run: |
        python -m HyPER.train --config-dir=test --config-name=test_config

    - name: Test HyPER predicting
      run: |
        python -m HyPER.predict --config-dir=test --config-name=test_config

    - name: Test ONNX output
      run: |
        python -m HyPER.onnx --config-dir=test --config-name=test_config
